@using YangKai.BlogEngine.Common
@using YangKai.BlogEngine.Model
@using YangKai.BlogEngine.Modules.PostModule.Objects
@model IList<Post>

@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = string.Format(Config.Format.PAGE_TITLE, "存档");
    var channel = ViewBag.Channel as Channel;
    var calendarlist = (ViewBag.CalendarList as CalendarDictionary).Data.OrderByDescending(p => p.Key).ToDictionary(k => k.Key, v => v.Value);
}

<script type="text/javascript">
    $(function () {
        $("#calendar h2").bind("click", function () { calendar_slide($(this).next().slideToggle("normal")); });
    });
</script>
<div id="calendar">
    <ul>
        @foreach (var calendar in calendarlist)
        {
            var list = Model.Where(p => p.PubDate.Year == calendar.Key.Year && p.PubDate.Month == calendar.Key.Month).OrderBy(p=>p.PubDate);
            <li>
                <h2>@calendar.Key.ToString("yyyy-MM") (@list.Count())</h2>
                <ul>
                    @foreach (var item in list)
                    {
                        <li class="_dot">[@item.Group.Name] @item.PubDate.ToString("dd")日:
                            <a href="/@item.Group.Url-@item.Url" title ="@item.Title">@item.Title</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
