@model YangKai.BlogEngine.Web.Mvc.Models.PostViewModel
@{
    var isAdmin = YangKai.BlogEngine.Common.WebMasterCookie.IsLogin;
}

<div class="date">
    <div>@Model.PubDate.ToString("dd")</div>
    <div>@Model.PubDate.ToString("yyyy.MM")</div>
</div>
<header>
    <h2>
        <strong>@Model.Title</strong>
        @if (Model.PostStatus != "Publish")
        {
            <span class="glyphicon-warning-sign text-error">@Model.PostStatus</span>
        }
        @if (Model.PubDate > DateTime.Now)
        {
            <span class="glyphicon-warning-sign text-warning">延迟发布: @((Model.PubDate - DateTime.Now).TotalHours.ToString("#0.00"))小时后</span>
        }
    </h2>
    <div>
        <span class="glyphicon-folder-open categories">
            @foreach (var item in Model.Categories)
            {
                if (Model.Categories.First().Key != item.Key){<text>,</text>}
                <a href="/@Model.ChannelUrl#!/@Model.GroupUrl/category/@item.Key">@item.Value</a>
            }
        </span>
        @if (Model.Tags.Any())
        {
            <span class="glyphicon-tags tags" style="display: none;">
                @foreach (var item in Model.Tags)
                {
                    if (Model.Tags.First() != item)
                    {
                        <text>,</text>
                    }
                    <a href="/@Model.ChannelUrl#!/@Model.GroupUrl/tag/@item">@item</a>
                }
            </span>
        }
        else
        {
            <span style="display: none;"></span>
        }
        <span class="glyphicon-user"></span>
        <span>@Model.Author</span>
        <span class="glyphicon-hand-right"></span>
        <span>@Model.ViewCount 次点击</span>
        <span class="glyphicon-comment"></span>
        <span>@(Model.ReplyCount > 0 ? Model.ReplyCount + " 条评论" : "没有评论")</span>
        @if (isAdmin)
        {
            <span class="glyphicon-pencil"></span>
            <span><a href="/admin/postmanage/edit/@Model.Url">编辑</a></span>
        }
    </div>
</header>