@model YangKai.BlogEngine.Modules.PostModule.Objects.Post

@{
    Layout = "~/Views/Shared/_layout-whth-sidebar.cshtml";
}

<div class="breadcrumbs">
	@Html.ActionLink(Model.Group.Channel.Name, "Index", Model.Group.Channel.Url)
    @Html.ActionLink(Model.Group.Name, "Index", Model.Group.Url, null, new { title = string.Format("查看 {0} 的全部文章", Model.Group.Name) })
    <strong>@Model.Title</strong>
</div>

@Html.Partial("detail-content", Model)
@Html.Action("PostRelated", new { postId = Model.PostId })
@Html.Action("index", "Comment")
@Html.Action("PostNavi", new { postId = Model.PostId })