@model YangKai.BlogEngine.Web.Mvc.Models.PostViewModel

<header>
    <h2>
        <strong>@Model.Title</strong>
        @if (Model.PostStatus != "Publish")
        {
            <span class="glyphicon-warning-sign text-error">@Model.PostStatus</span>
        }
        @if (Model.PubDate > DateTime.Now)
        {
            <span class="glyphicon-warning-sign text-warning">延迟发布: @((Model.PubDate - DateTime.Now).TotalHours.ToString("#0.00"))小时后</span>
        }
    </h2>
    <div>
        <span class="glyphicon-calendar"></span>
        <span><abbr title="@Model.PubDate.ToString("yyyy-MM-dd")">@Model.PubDate.ToString("yyyy年MM月dd日")</abbr></span>
        <span class="glyphicon-user"></span>
        <span>@Model.Author</span>

        @if (YangKai.BlogEngine.Common.WebMasterCookie.IsLogin)
        {
            <span class="glyphicon-pencil"></span>
            <span><a href="/admin/postmanage/edit/@Model.Url">编辑</a></span>
        }
    </div>
</header>