@model YangKai.BlogEngine.Web.Mvc.Models.PostViewModel
           
@if (YangKai.BlogEngine.Common.WebMasterCookie.IsLogin)
{
    <div id="addpost" class="_add"><a href="/admin/postmanage/new">添加新文章</a></div>
    <div class="clear"></div>
}

<ul id="posts">
    <li id="@("list" + Model.PostId)">
        <h2>
            <strong>@Model.Title</strong>
            @if (Model.PostStatus != "Publish")
            {
                <span class="warningbox">@Model.PostStatus</span>
            }
            @if (Model.PubDate > DateTime.Now)
            {
                <span class="warningbox">延迟发布: @((Model.PubDate - DateTime.Now).TotalHours.ToString("#0.00"))小时后</span>
            }
        </h2>
        @Html.Partial("PostHeader", Model)
        <div class="postBody">
            @(new HtmlString(Model.Content))
            <div class="clear"></div>
            @if (Model.QrCodeUrl != null)
            {
                <a href="javascrpit:void(0);" onclick=" $('#qrcode').toggle(); " ><img src="/Content/Image/qrcode.png"/></a>
                <div id="qrcode" class="qrcode">
                    <img src="/upload/qrcode/@Model.QrCodeUrl" width="200" height="200" />
                </div>
            }
            @if (Model.SourceUrl != null)
            {
                <div style="color:#aaa">本文转载于：<a href="@Model.SourceUrl" style="color:#aaa">@Model.SourceTitle</a></div>
            }
        </div> 
            @Html.Partial("PostFooter", Model)
            @Html.Partial("_jiathis")
    </li>
</ul>



