@model YangKai.BlogEngine.Web.Mvc.Models.PostViewModel
@{
    var isAdmin = YangKai.BlogEngine.Common.WebMasterCookie.IsLogin.ToString().ToLower();
}

@section scripts{
@*    <script type="text/javascript" >*@
@*        var jiathis_config = {*@
@*            data_track_clickback: true,*@
@*            siteNum: 15,*@
@*            summary: "",*@
@*            hideMore: true*@
@*        }*@
@*    </script>*@
@*    <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=902651" charset="utf-8"></script>*@
}
@section readyscripts
{
    ko.applyBindings(new CommentViewModel(@isAdmin,'@Model.PostId'), $("#comment")[0]);
}
<ul class="breadcrumb">
    <li><a href="/@Model.ChannelUrl">@Model.ChannelName</a></li>
    <li><a href="/@Model.ChannelUrl#!/@Model.GroupUrl">@Model.GroupName</a></li>
    <li>
        @foreach (var category in Model.Categories)
        {
            <a href="/@Model.ChannelUrl#!/@Model.GroupUrl/category/@category.Key">@category.Value</a>
        }
    </li>
    <li class="active">@Model.Title</li>
</ul>

@Html.Partial("detail-post", Model)
@Html.Action("detail-nav","Article", new { postId = Model.PostId })
@Html.Action("detail-related","Article", new { postId = Model.PostId })
@Html.Action("index", "Comment", new { postId = Model.PostId })


