@using YangKai.BlogEngine.Modules.PostModule.Objects

@{
    Layout = "~/Views/Shared/_layout-whth-sidebar.cshtml";
    var channel = ViewBag.Channel as Channel;
    var group = ViewBag.Group as Group;
}

<div id="posts">
    <div class="breadcrumbs">
        @if (group == null)
        {
            <strong>@channel.Name</strong>
        }
        else
        {
            <a href="/@channel.Url">@channel.Name</a>
            <strong>@group.Name</strong>
        }
    </div>

    @if (YangKai.BlogEngine.Common.WebMasterCookie.IsLogin)
    {
        <div id="addpost" class="_add"><a href="/admin/postmanage/new">添加新文章</a></div>
        <div class="clear"></div>
    }
    <div data-bind="with: listViewModel, visible: State() === 'list'">
        @Html.Partial("index-box")
        @Html.Partial("index-post")
    </div>
    <div data-bind="with: detailViewModel, visible: State() === 'detail'">
        
    </div>
</div>

<script>
    $(function () {
        if (window.location.href.indexOf('#!') == -1) {
            window.location.href = window.location.href + "#!";
        }
        ko.applyBindings(new ViewModel(), $("#posts")[0]);
    });
</script>