@{
    var isAdmin = YangKai.BlogEngine.Common.WebMasterCookie.IsLogin.ToString().ToLower();
}

<div id="posts">
    <ul data-bind="template: { name: 'post-template', foreach: list }"></ul>
    <div class="loadingbox" data-bind="visible: loading">加载中...</div>
    @Html.Partial("_pager")
</div>

<script type="text/html" id="post-template">
    <li>
        @Html.Partial("index-post-title")
        @Html.Partial("index-post-header")
        @Html.Partial("index-post-body")
        @Html.Partial("index-post-footer")
    </li>
</script>

<script type="text/javascript">
    function PostListViewModel(isadmin) {
        var self = this;

        self.authorized = isadmin;
        self.list = ko.observableArray();
        self.loading = ko.observable(false);
        
        self.TotalResults = ko.observable();
        self.Pager = ko.pager(self.TotalResults);
        self.Pager().CurrentPage.subscribe(function () {
//            var query = "c=" + urlHelper.getQuery('c');
//            query += "&t=" + urlHelper.getQuery('t');
//            query += "&d=" + urlHelper.getQuery('d');
            //            query += "&k=" + urlHelper.getQuery('k');
            location.href = "#!/" + urlHelper.getGroupUrl() + "/" + self.Pager().CurrentPage();
        });

        self.del = function(data) {
            Messenger().run(
                { progressMessage: 'Deleting data...' },
                {
                    url: "/admin/postmanage/delete/",
                    data: "id=" + data.PostId,
                    method: "post",
                    dataType: "json",
                    complete: function(context) {
                        var o = JSON.parse(context.responseText);
                        if (o.result) {
                            message.success('“#' + data.Title + '”  be moved to trash.');
                            data.PostStatus = 'Trash';
                            itemRefresh(self.list, data);
                        } else {
                            message.error(o.reason);
                        }
                    }
                }   
            );
        };

        self.expand = function (entity) {
            entity.IsShowDetail = !entity.IsShowDetail;
            itemRefresh(self.list, entity);
        };

        self.turnpages = function () {
            //定位到顶部
            scroll(0, 0);
            
            self.loading(!self.loading());
            
            //组合请求所需url.
            var link = '/'+urlHelper.getGroupUrl();
            link += '?type=list&id=' + urlHelper.getPage();
            link += "&c=" + urlHelper.getQuery('c');
            link += "&t=" + urlHelper.getQuery('t');
            link += "&d=" + urlHelper.getQuery('d');
            link += "&k=" + urlHelper.getQuery('k');
            
            //请求数据
            $.getJSON(link, function (result) {
                self.loading(!self.loading());
                self.list(result.data);
                self.TotalResults(result.count);
                ko.utils.arrayForEach(self.list(), function (data) { data.IsShowDetail = false; });
                imglazyload("#posts img");
            });
        };

        //设置当前page为url中page,页面初始化时使用.
        var currentPage = urlHelper.getPage();
        if (currentPage != 1) {
            self.Pager().CurrentPage(urlHelper.getPage());
        }

        self.turnpages();
    }

    var postViewModel = new PostListViewModel(@isAdmin);

    $(document).ready(function () {
        ko.applyBindings(postViewModel, $("#posts")[0]);
        
        var docmode = document.documentMode;
        if ('onhashchange' in window && (docmode === undefined || docmode > 7)) {
            window.onhashchange = postViewModel.turnpages;
        }
        else {
            var poll = window.setInterval(turnpages, 500);
            window.onunload = function () {
                window.clearInterval(poll);
            };
        }
    });
</script>