@{Layout = "~/Views/Shared/_Layout.cshtml";}
@using YangKai.BlogEngine.Modules.PostModule.Objects
@{
    var channel = ViewBag.Channel as Channel;
    var group = ViewBag.Group as Group;
    var channelUrl = channel == null ? string.Empty : channel.Url;
    var groupUrl = group == null ? string.Empty : group.Url;
}
@section scripts{@RenderSection("scripts", required: false)}

<section>
    @RenderBody()
</section>
<aside>
    @Html.Partial("sidebar-feed")
    @Html.Partial("sidebar-search")
    @Html.Partial("sidebar-recentcomments")
    @Html.Partial("sidebar-recentmessages")
    @if (groupUrl != string.Empty)
    {
        @Html.Partial("sidebar-categorygroup")
    }
</aside>
<div class="clear"></div>