@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div id="content">
    @RenderBody()
</div>
<div id="sidebar">
    @*@Html.Action("GroupByCategory", "Article")*@
    @Html.Partial("sidebar-feed")
    @Html.Partial("sidebar-search")
    @Html.Partial("sidebar-recentcomments")
    @Html.Partial("sidebar-recentmessages")
    @Html.Partial("sidebar-friendsLink")
</div>
<div class="clear"></div>