<div style="font-size: 13px;">
    <p>@Model.Project - @Model.Title (@Model.Statu)</p>
    <p>
        @Raw(Model.Content.Replace("\n","<br />"))<br/>
        by <span style="font-weight: bold;color: #E38383">@Model.Author</span>
        <span style="color:#ccc;padding-left: 10px;">@Model.CreateDate.ToString("yyyy.MM.dd HH:mm")</span>
    </p>
    @if (!string.IsNullOrEmpty(Model.User))
    {
        <hr />
        <p>
            @Raw(Model.Result.Replace("\n","<br />"))<br/>
            by <span style="font-weight: bold;color: #E38383">@Model.User</span>
            <span style="color:#ccc;padding-left: 10px;">@Model.CreateDate.ToString("yyyy.MM.dd HH:mm")</span>
            @Model.EditDate.ToString("yyyy.MM.dd HH:mm")
        </p> 
    }
</div>