@using YangKai.BlogEngine.Modules.PostModule.Objects
@{Layout = "~/Views/Shared/_Layout.cshtml";}
@{
    var channel = ViewBag.Channel as Channel;
    var group = ViewBag.Group as Group;
    var channelUrl = channel == null ? string.Empty : channel.Url;
    var groupUrl = group == null ? string.Empty : group.Url;
}
@section scripts{
    @RenderSection("scripts", required: false)
    ko.applyBindings(new RecentMessagesViewModel(), $("#recentmessages")[0]);
    ko.applyBindings(new RecentCommentsViewModel('@channelUrl'), $("#recentcomments")[0]);
}
@section style{@RenderSection("style", required: false)}

<section>
    @RenderBody()
</section>
<aside>
    @Html.Partial("sidebar-feed")
    @Html.Partial("sidebar-search")
    @Html.Partial("sidebar-recentcomments")
    @Html.Partial("sidebar-recentmessages")
</aside>
<div class="clear"></div>