@model IList<YangKai.BlogEngine.Domain.Channel>
<!doctype html>
<html ng-cloak ng-app="app" class="no-js" ng-controller="GlobalController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title ng-bind="'iShare - '+title">iShare</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 所有文章" href="@YangKai.BlogEngine.Common.Config.Path.ARTICLES_RSS_PATH" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 所有评论" href="@YangKai.BlogEngine.Common.Config.Path.COMMENTS_RSS_PATH" />
        @Styles.Render("~/Content/style/css")
        @Scripts.Render("~/js")
    </head>
    <body>
        @Html.Partial("layout-header", Model)
        <div id="cta-content" ng-show="showBanner" style="display: none;">
            <div class="lights">
                <div class="grid-image">
                    <div class="wrapped-content">
                        <h1>BECAUSE WE CAN</h1>
                        <h2><p class="bottom clearfix">{{word}}</p></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content" ng-view></div>
            <hr>
            @Html.Partial("layout-footer")
        </div>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21831838-1']);
            _gaq.push(['_setDomainName', 'woshinidezhu.com']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>