@model IList<YangKai.BlogEngine.Domain.Channel>
<!doctype html>
<html ng-cloak ng-app="app" class="no-js" ng-controller="GlobalController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title ng-bind="'iShare - '+title">iShare</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 所有文章" href="@YangKai.BlogEngine.Common.Config.Path.ARTICLES_RSS_PATH" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 所有评论" href="@YangKai.BlogEngine.Common.Config.Path.COMMENTS_RSS_PATH" />
        @Styles.Render("~/Content/style/css")
        <script src="/Content/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        @Html.Partial("layout-header", Model)
        <div id="cta-content" ng-show="showBanner" style="display: none;">
            <div class="lights">
                <div class="grid-image">
                    <div class="wrapped-content">
                        <h1>BECAUSE WE CAN</h1>
                        <h2>
                            <p class="bottom clearfix">{{word}}</p>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div ng-view></div>
            </div>
            <hr>
            @Html.Partial("layout-footer")
        </div>
        @Scripts.Render("~/js")
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21831838-1']);
            _gaq.push(['_setDomainName', 'woshinidezhu.com']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
<script>
    // I made a function that ran through the "fading out" animations, then called a function that handles the "fading in"
    // Fading out
    $('#demo-i').animo({ animation: "fadeOutLeft", duration: 0.5, keep: true }, function() {
        $('#demo-s').animo({ animation: "fadeOutUp", duration: 0.5, keep: true }, function() {
            $('#demo-h').animo({ animation: "fadeOutDown", duration: 0.5, keep: true }, function() {
                $('#demo-a').animo({ animation: "fadeOutRight", duration: 0.5, keep: true }, function () {
                    $('#demo-r').animo({ animation: "fadeOutLeft", duration: 0.5, keep: true }, function() {
                        $('#demo-e').animo({ animation: "fadeOutUp", duration: 0.5, keep: true }, doMagicIn());
                    });
                });
            });
        });
    });

    // Fading in
    function doMagicIn() {
        $('#demo-i').animo({ animation: "fadeInLeft", duration: 0.5 }, function() {
            $('#demo-s').animo({ animation: "fadeInUp", duration: 0.5 }, function() {
                $('#demo-h').animo({ animation: "fadeInDown", duration: 0.5 }, function() {
                    $('#demo-a').animo({ animation: "fadeInRight", duration: 0.5 }, function () {
                        $('#demo-r').animo({ animation: "fadeInLeft", duration: 0.5 }, function() {
                            $('#demo-e').animo({ animation: "fadeInUp", duration: 0.5 });
                        });
                    });
                });
            });
        });
    }
</script>
    </body>
</html>