<!doctype html>
<html ng-cloak ng-app="app" class="no-js" ng-controller="GlobalController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title ng-bind="'@YangKai.BlogEngine.Common.Config.Literal.SITE_NAME - '+title">@Html.Raw(YangKai.BlogEngine.Common.Config.Literal.SITE_NAME)</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 文章" href="@YangKai.BlogEngine.Common.Config.Path.ARTICLES_RSS_PATH" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 评论" href="@YangKai.BlogEngine.Common.Config.Path.COMMENTS_RSS_PATH" />
        @Styles.Render("~/Content/style/css")
        @Scripts.Render("~/js")
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/Content/img/logo.gif" />@Html.Raw(YangKai.BlogEngine.Common.Config.Literal.SITE_NAME)</a>
                </div>
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-repeat="channel in Channels">
                            <a href="JavaScript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{channel.Name}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="/list/{{channel.Url}}">{{'article.menu.view_all' | translate}}</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">{{'article.menu.view_by_group' | translate}}</li>
                                <li ng-repeat="group in channel.Groups | filter:{IsDeleted:false} | orderBy:'OrderId'">
                                    <a href="/list/{{channel.Url}}/{{group.Url}}">{{group.Name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li><a ng-href="/archives">{{'global.menu.archive' | translate}}</a></li>
                        <li><a ng-href="/board">{{'global.menu.board' | translate}}</a></li>
                        <li><a ng-href="/issue">{{'global.menu.issue' | translate}}</a></li>
                        <li><a ng-href="/gallery">{{'global.menu.gallery' | translate}}</a></li>
                        <li><a ng-href="/about">{{'global.menu.about' | translate}}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-controller="LoginController">
                            <a href="JavaScript:void(0)" ng-click="open()">{{'global.menu.admin' | translate}}</a>
                        </li>
                        <li>
                            <input ui-keypress="{13:'search()'}" type="text" ng-model="key" class="form-control search" placeholder="{{'global.menu.search' | translate}}" />
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="cta-content" ng-show="showBanner">
            <div class="lights">
                <div class="grid-image">
                    <div class="wrapped-content">
                        <h1>BECAUSE WE CAN</h1>
                        <h2><p class="bottom clearfix">{{word}}</p></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content" ng-view></div>
            <hr>
            <footer>
                <p>@Html.Raw(YangKai.BlogEngine.Common.Config.Literal.COPYRIGHT)</p>
                <ul class="footer-links" ng-controller="TranslateCtrl">
                    <li><a ng-click="changeLanguage('en')" href="JavaScript:void(0)">English</a></li>
                    <li>|</li>
                    <li><a ng-click="changeLanguage('zh')" href="JavaScript:void(0)">简体中文</a></li>
                </ul>
            </footer>
        </div>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-21831838-1']);
            _gaq.push(['_setDomainName', 'woshinidezhu.com']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>