<!doctype html>
<html ng-cloak ng-app="app" class="no-js" ng-controller="GlobalController">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title ng-bind="'@YangKai.BlogEngine.Common.Config.Literal.SITE_NAME - '+title">@Html.Raw(YangKai.BlogEngine.Common.Config.Literal.SITE_NAME)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 文章" href="@YangKai.BlogEngine.Common.Config.Path.ARTICLES_RSS_PATH" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 评论" href="@YangKai.BlogEngine.Common.Config.Path.COMMENTS_RSS_PATH" />
        @Styles.Render("~/Content/style/css")
        @Scripts.Render("~/js")
    </head>
    <body>
        <div class="loadingbox" when-route-change>{{'global.loading' | translate}}</div>
        
        <!--=== Top ===-->    
        <div class="top">
            <div class="container">         
                <ul class="loginbar pull-right">
                    <li>
                        <i class="icon-globe"></i>
                        <a>Languages</a>
                        <ul class="lenguages" ng-controller="TranslateCtrl">
                            <li ng-class="{active:uses=='en'}">
                                <a href="#" ng-click="changeLanguage('en')">
                                    English 
                                    <i class="icon-ok" ng-show="uses=='en'"></i>
                                </a> 
                            </li>
                            <li ng-class="{active:uses=='zh'}">
                                <a href="#" ng-click="changeLanguage('zh')">
                                    简体中文
                                    <i class="icon-ok" ng-show="uses=='zh'"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="devider"></li>   
                    <li><a href="/admin">Admin</a></li>   
                </ul>
            </div>      
        </div>
        <!--=== End Top ===-->    

        <!--=== Header ===-->    
        <div class="header">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="/">
                                <img id="logo-header" src="/Content/img/logo.gif" alt="Logo">
                                @Html.Raw(YangKai.BlogEngine.Common.Config.Literal.SITE_NAME)
                            </a>
                        </h1>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ng-href="/">{{'global.menu.home' | translate}}</a></li>
                            <li class="dropdown" ng-repeat="channel in Channels">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                    {{channel.Name}}
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a ng-href="/list/{{channel.Url}}">
                                            {{'article.menu.view_all' | translate}}
                                        </a>
                                    </li>
                                    <li ng-repeat="group in channel.Groups | filter:{IsDeleted:false} | orderBy:'OrderId'">
                                        <a ng-href="/list/{{channel.Url}}/{{group.Url}}">
                                            {{group.Name}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a ng-href="/archives">{{'global.menu.archive' | translate}}</a></li>
                            <li><a ng-href="/board">{{'global.menu.board' | translate}}</a></li>
                            @*<li><a ng-href="/issue">{{'global.menu.issue' | translate}}</a></li>*@
                            <li><a ng-href="/gallery">{{'global.menu.gallery' | translate}}</a></li>
                            <li><a ng-href="/about">{{'global.menu.about' | translate}}</a></li>
                            <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>
                        </ul>
                        <div class="search-open">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>                
                    </div>
                </div>    
            </div>    
        </div>
        <!--=== End Header ===-->  

        <!--=== Main ===-->  
        <div ng-view></div>
        <!--=== End Main ===-->  

        <!--=== Footer ===-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 md-margin-bottom-40">
                        <!-- About -->
                        <div class="headline"><h2>About</h2></div>  
                        <p class="margin-bottom-25 md-margin-bottom-40">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>    

                        <!-- Monthly Newsletter -->
                        <div class="headline"><h2>Monthly Newsletter</h2></div> 
                        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                        <form class="footer-subsribe">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Address">                            
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Subscribe</button>
                                </span>
                            </div>
                        </form>                         
                    </div>

                    <div class="col-md-4 md-margin-bottom-40">
                        <!-- Recent Blog Entries -->
                        <div class="posts">
                            <div class="headline"><h2>Recent Blog Entries</h2></div>
                            <dl class="dl-horizontal">
                                <dt><a href="#"><img src="/Content/img/avatar.png" alt="" /></a></dt>
                                <dd>
                                    <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt><a href="#"><img src="/Content/img/avatar.png" alt="" /></a></dt>
                                <dd>
                                    <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt><a href="#"><img src="/Content/img/avatar.png" alt="" /></a></dt>
                                <dd>
                                    <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Contact Us -->
                        <div class="headline"><h2>Contact Us</h2></div> 
                        <address class="md-margin-bottom-40">
                            25, Lorem Lis Street, Orange <br />
                            California, US <br />
                            Phone: 800 123 3456 <br />
                            Fax: 800 123 3456 <br />
                            Email: <a href="mailto:zackyang@outlook.com" class="">zackyang@outlook.com</a>
                        </address>

                        <!-- Stay Connected -->
                        <div class="headline"><h2>Stay Connected</h2></div> 
                        <ul class="social-icons">
                            <li><a href="/feed_articles.xml" data-original-title="Feed" class="social_rss"></a></li>
                            <li><a href="https://github.com/TossShinHwa/CMS" data-original-title="Github" class="social_github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--=== End Footer ===-->

        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <p class="copyright-space">
                    @Html.Raw(YangKai.BlogEngine.Common.Config.Literal.COPYRIGHT)
                </p>
            </div>
        </div>
        <!--=== End Copyright ===-->

        <script type="text/javascript">
            jQuery(document).ready(function () {
                App.init();
            });
        </script>
        <!--[if lt IE 9]>
            <script src="assets/plugins/respond.js"></script>
        <![endif]-->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-21831838-1', 'woshinidezhu.com');
            //ga('send', 'pageview');
        </script>
    </body>
</html>