@model IList<YangKai.BlogEngine.Domain.Post>
<!doctype html>
<html ng-cloak ng-app="app" class="no-js" ng-controller="GlobalController">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title ng-bind="'@YangKai.BlogEngine.Common.Config.Literal.SITE_NAME - '+title">@Html.Raw(YangKai.BlogEngine.Common.Config.Literal.SITE_NAME)</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="fragment" content="!">
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 所有文章" href="@YangKai.BlogEngine.Common.Config.Path.ARTICLES_RSS_PATH" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - 所有评论" href="@YangKai.BlogEngine.Common.Config.Path.COMMENTS_RSS_PATH" />
    </head>
    <body>
        <h1>iShare</h1>
        <ul>
            @foreach (var item in Model)
            {
            <li><a href="/#!/post/@item.Url">@item.Title</a></li>
            }
        </ul>
    </body>
</html>