@model YangKai.BlogEngine.Modules.PostModule.Objects.Post
@{
    ViewBag.Title = (Model == null ? "New" : "Edit " + Model.Title) + YangKai.BlogEngine.Common.Site.PAGE_TITLE;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="/Content/admin/js/post-new.js" type="text/javascript"></script>
}

@{Html.BeginForm(Model == null ? "new" : "edit", "PostManage", FormMethod.Post, new { enctype = "multipart/form-data" });}
    <div id="side-info-column">
        @Html.Partial("new-submit", Model)
        @Html.Partial("new-thumbnail")
        @Html.Action("new-channel-and-mainclass")
        @Html.Partial("new-category-box")
        @Html.Partial("new-tag-box", Model)
        @Html.Partial("new-source", Model)
    </div>
    <div id="post-body">
        <div id="post-body-content">
            <div class="validateTips" id="submit-check-tip"></div>
            @Html.Partial("new-main", Model)
        </div>
    </div>
    <div class="clear"></div>
@Html.Hidden("isnew", Model == null)
@Html.Hidden("isAudit", Model == null)
@Html.Hidden("isDraft", true)
@Html.Hidden("isDel", false)
@if (Model != null)
{
@Html.Hidden("edit-channel", Model.Group.Channel.Url)
@Html.Hidden("edit-mainclass", Model.Group.Url)
@Html.Hidden("edit-category", string.Join(",", Model.Categorys.Select(item => item.CategoryId)))
@Html.Hidden("edit-state",Model.PostStatus)
}
@{Html.EndForm();}