@using YangKai.BlogEngine.Common
@model YangKai.BlogEngine.Modules.PostModule.Objects.Comment
<!-- respond START -->
<script type="text/javascript">
    function change_author_info_display() {
        $("#hide_author_info").toggle();
        $("#show_author_info").toggle();
        $("#author_info").toggle();
    }
    $(function () {
        $("input:submit").bind("click", function () { add_comment('@ViewBag.PostId', '@Model.Pic'); });
        $("#show_author_info").hide();
        if ($("#Author").val() != "") {
            $("#show_author_info a,#hide_author_info a").bind("click", function () { change_author_info_display(); });
            change_author_info_display();
        }
        else {
            $("#author_welcome").hide();
        }
    });
</script>
<div id="respond">
    <p id="author_welcome">
        @if (WebMasterCookie.IsLogin)
        {
            <text>管理员:@WebMasterCookie.Load().Name</text>
        }
        else
        {
            <text>欢迎回来, <strong>@Model.Author</strong></text>
            <span id="show_author_info"><a href="javascript:void(0);">更改 »</a></span>
            <span id="hide_author_info"><a href="javascript:void(0);">隐藏 »</a></span>
        }
    </p>
    <div id="author_info">
		<p style="line-height:30px;">
			@Html.TextBoxFor(model => model.Author, new { style = "width:180px;", @class = "textfield" })
            @Html.LabelFor(model => model.Author, "昵称(必填)")
		</p>
        <p>
			@Html.TextBoxFor(model => model.Email, new { style = "width:180px;", @class = "textfield" })
            @Html.LabelFor(model => model.Email, "电子邮箱 (我们会为您保密)")
		</p>
		<p>
			@Html.TextBoxFor(model => model.Url, new { style = "width:180px;", @class = "textfield" })
            @Html.LabelFor(model => model.Url, "网址")
		</p>
	</div>
    <p>@Html.TextAreaFor(model=>model.Content, new { Rows = "5" })</p>
    <div id="submitbox">
        <div class="submitbutton"><input id="submit" type="submit" class="submit" value="提交" /></div>
        <div id="info"></div>
        <div class="clear"></div>
    </div>
</div>
<!-- respond END -->
