@model IList<YangKai.BlogEngine.Modules.PostModule.Objects.Comment>
<!-- comments START -->
<div id="comments">
<div id="cmthead">
    <span class="curtab">评论 (@Model.Where(p => !p.IsDeleted).Count())</span>
    <span class="addcomment"><a href="#respond">发表评论</a></span>
    <div class="clear"></div>
</div>
<div id="commentlist">
<ul id="thecomments" class="comments">
@if (Model.Count > 0)
{
    int commentIndex = 0;
    bool isAdmin = YangKai.BlogEngine.ServiceProxy.QueryFactory.User.IsLogin();
    foreach (var entity in Model)
    {
        commentIndex++;
        bool isDeleted = entity.IsDeleted;
        IHtmlString ip = Html.Raw(isAdmin ? string.Format("title=\"{0} [{1}]\")", entity.Address, entity.Ip) : string.Empty);
        if (!isDeleted || isAdmin)
        {
            <li id="@("comment-" + entity.CommentId)" @if(entity.IsAdmin){<text>class="admincomment"</text>}>
                <div class="author">
                    <div class="pic" @ip><img class="avatar" width="32" height="32" alt="avatar" src="@(string.IsNullOrEmpty(entity.Pic) ? "/Content/Image/avatar.png" : entity.Pic)" /></div>
                    <div class="name">@Html.Raw(string.IsNullOrEmpty(entity.Url) ? entity.Author : string.Format("<a href=\"{0}\">{1}</a>", entity.Url, entity.Author))</div>
                </div>
                <div class="info">
                    <span class="date" id="@("date" + commentIndex)">
                        @entity.CreateDate.ToString("yyyy.MM.dd HH:mm") | #@commentIndex
                        @if (entity.IsDeleted)
                        {
                            <span id="@("warningbox-" + entity.CommentId)" class="warningbox">该回复已删除,仅管理员可见.</span>
                        }
                    </span>
                    <div class="act" id="@("function-" + commentIndex)">
                        @if (isAdmin)
                        {
                            <a href="JavaScript:void(0)" onclick="show_reply_box(@entity.CommentId)">[回复]</a><text> | </text>
                            if (entity.IsDeleted)
                            {
                                <a href="JavaScript:void(0)" onclick="renew_comment(@(commentIndex),'@(entity.CommentId)')">[恢复]</a>
                            }
                            else
                            {
                                <a href="JavaScript:void(0)" onclick="delete_comment(@(commentIndex),'@(entity.CommentId)')">[删除]</a>
                            }
                        }
                    </div>
                    <div class="clear"></div>
                    <div class="content">@Html.Raw(entity.Content)</div>
                </div>
                <div class="clear"></div>   
            </li>
        }
    }
}
else
{
    <li class="messagebox">本文目前尚无任何评论.</li>
}
</ul>
</div>
</div>
<!-- comments END -->